body {
  text-align: center; 
  padding: 5%;
  background-color: #28294F;
  color: #28294F;
}

.jumbotron {
  border-radius: 10px;
  margin: 10px;
  background-color: #E8E8EE;


}

.blog-item {
  border-radius: 10px;
  margin: 25px;
  background-color: #E8E8EE;
  padding:1px;
}

.blog {
  border-radius: 10px;
  margin: 10px;
  background-color: #E8E8EE;
}

